######################################################
# Removes the "/public" from the end of the site url #
# but keeps the same functionality                   #
######################################################
<IfModule mod_rewrite.c>
    
    # Turns on the url rewrite engine
    RewriteEngine on

    RewriteRule ^$ public/ [L]

    RewriteRule (.*) public/$1 [L]
</IfModule>
