button#scrollTopBtn {   
    display: none;   
    opacity: 0.3;
    position: fixed;
    bottom: 8px;
    right: 8px; 
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0); /* the button dont jump when scrolling */
    transform : translate3d(0, 0, 0); /* the button dont jump when scrolling */
}

button#scrollTopBtn:hover { 
    opacity: 1; 
}