/*
    
    Main Style File of the application. Here you will put the global styles of the App

    Tip: use Ctrl + F5 (reload + clear cache)
    
*/

:root {
    /* font-size: 20px !important;
    line-height: 1.2 !important;
    font-family: 'Times New Roman', Times, serif !important; */
}

nav.navbar {
    border-radius: 0;
}

div.page-index-jumbotron {
    margin-top: 50px;
}

@media(max-width:992px) {
    :root {
        
    }
}

@media(max-width:768px) {
    :root {
        
    }
}

@media(max-width:480px) {
    :root {
        
    }
}